/*
Cooking With Kids - Group Project
Filename: custom.css
Made by: Douglas Vinicio, Patrick Brennan, Jessica Landry and Paul Szostak
*/

/* ==========================================================================
    General Section / Body 
   ========================================================================== */

/* Setting the background color to the entire page */
body {
    background-color: #e6e6e6 !important;
    max-width: 1100px;
    margin: 0 auto;
}


/* Aligning text to the center */
h1,
h2,
h3,
h4,
p,
small,
footer {
    text-align: center;
}

h4 {
    margin: 10px 0 0 0 !important;
}


/* Tables styling */
table,
th,
td {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    max-width: 400px;
}

/* ==========================================================================
    Header Section / NavBar and Banner
 ========================================================================== */

/* Banner Section */
.banner {
    /* Positioning to center */
    display: flex;
    margin: 0 auto;
    /* Resize */
    width: 90%;
    max-width: 900px;
}

/* Navbar CSS Section */
.navbar .navbar-brand {
    color: #000;
    font-weight: bold;
    font-size: 1.3em;
}

.navbar {
    background-color: transparent !important;
}

.navbar .navbar-nav {
    margin: 0;
}

.nav-image {
    width: 300px;
}

.nav-link {
    font-size: 1.2rem;
}


/* ==========================================================================
   Images Styling
   ========================================================================== */

/* Recipes Pages - Resize */
.img-thumbnail {
    max-width: 200px;
}

/* Aligning and Defining the size of the Images of the Home Page */
.card-image {
    /* Align Images to center inside the grids */
    width: 60%;
    /* Shadow outside the images */
    box-shadow: 10px 10px 5px rgb(165, 164, 164);
    border-radius: 5px;
}

/* Shadow outside the card in Home Page */
.card {
    box-shadow: 10px 10px 5px rgb(195, 198, 202);
}

/* Allow recipe pages to show cards as inline-blocks */
.card-recipe {
    display: inline-block !important;
    margin-bottom: 2rem;
}

/* Shadow outside the form */
.row {
    /* Shadow */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* Other */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}



/* ==========================================================================
   Login Form Styles
   ========================================================================== */
.form-signin {
    width: 80%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* Register Page
   ========================================================================== */
/* Removing padding from Forms in Register Page*/
.form-group {
    padding: 0 !important;
}


/* Footer Section
   ========================================================================== */
/* Footer Social Media Icons */
.footer-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

/* Padding added to separate from container */
.footer-copyright {
    padding-bottom: 20px;
}


/* Template for comments */

/* ==========================================================================
   Section comment block
   ========================================================================== */

/* Sub-section comment block
   ========================================================================== */

/**
 * Long comment block
 * 
 * Short description using Doxygen-style comment format
 *
 * The first sentence of the long description starts here and continues on this
 * line for a while finally concluding here at the end of this paragraph.
 *
 * The long description is ideal for more detailed explanations and
 * documentation. It can include example HTML, URLs, or any other information
 * that is deemed necessary or useful.
 *
 * @tag This is a tag named 'tag'
 */

/* Basic comment */