/*
Cooking With Kids - Group Project
Filename: styles.css
Made by: Douglas Vinicio, Patrick Brennan, Jessica Landry and Paul Szostak
*/
/* Using recipe pictures as links to specific pages */
body {
  background-color: #e6e6e6 !important;
}

/* Aligning text to the center */
h1,h2,h3,h4,p{
  text-align: center;
}

/* Tables styling */
table,th,td {
  width:100%;
  padding: 5px;
  border: 1px solid black;
  max-width: 400px;
}

/* Set the top image */
.banner{
  display: flex;
  margin: 0 auto;
  width: 90%;
  }


/* Aligning and Defining the size of the Images of the Home Page */
.card-image {
  /* Align Images to center inside the grids */
  display: block;
  margin: 10px auto;
  width: 60%;
  /* Shadow outside the images */
  box-shadow: 10px 10px 5px grey;
}
  /* Shadow outside the form */
.row {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

